@page
@model DewaApp.Pages.AccountTransactionsHistory.IndexModel
@{
}

<br>
<h2> List of Transactions </h2>

@if (Model.errorMsg.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMsg</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3col-form-label">AccountId</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="accountId" value="@Model.accounthistoryDateRange.AccountId">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3col-form-label">Transaction Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="transactionDateStart" value="@Model.accounthistoryDateRange.StartDate">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3col-form-label">Transaction Date</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="transactionDateEnd" value="@Model.accounthistoryDateRange.EndDate">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Transaction Date</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.accountTransactionHistories)
        {
            <tr>
                <td>@item.TransactionDate</td>
                <td>@item.Description</td>
                <td>@item.Debit</td>
                <td>@item.Credit</td>
                <td>@item.Amount</td>
            </tr>
        }
    </tbody>
</table>